<div class="sidebar" hiddenScroll>
  <ul class="side-menu" style="transform:translate3d(0,0,0);">
    <li (click)="sample()"> Sample 1</li>
    <li (click)="sample()"> Sample 2</li>
    <li (click)="sample()"> Sample 3</li>
    <li (click)="sample()"> Sample 4</li>
    <li (click)="sample()"> Sample 5</li>
    <li (click)="sample()"> Sample 6</li>
    <li (click)="sample()"> Sample 7</li>
    <li (click)="sample()"> Sample 8</li>
    <li (click)="sample()"> Sample 9</li>
    <li (click)="sample()"> Sample 10</li>
    <li (click)="sample()"> Sample 11</li>
    <li (click)="sample()"> Sample 12</li>
    <li (click)="sample()"> Sample 13</li>
    <li (click)="sample()"> Sample 14</li>
    <li (click)="sample()"> Sample 15</li>
    <li (click)="sample()"> Sample 16</li>
    <li (click)="sample()"> Sample 17</li>
    <li (click)="sample()"> Sample 18</li>
    <li (click)="sample()"> Sample 19</li>
    <li (click)="sample()"> Sample 20</li>
  </ul>

</div>